<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="TgBotToken" value="6018430357:AAEXIEb7-ojenJVmsS_2KyG0jraP8YEku0s" />
        <add key="DataBaseName" value="TeamFlameBase" />
        <add key="DataBasePass" value="12345678" />
    </appSettings>
</configuration>