<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="TgBotToken" value="6431100041:AAGhaGlCSasJuE-sK79EUGeBoZ-ZSpr3g2o" />
        <add key="DataBaseName" value="TeamFlameBase" />
        <add key="DataBasePass" value="12345678" />
    </appSettings>
</configuration>